html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
body{
    background-color: #CFCFCF;
}
body, .uk-animation-toggle, .uk-modal-body, .uk-panel, h2,h3,h4,h5,p{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
.menu-home:hover{
    background-color: #D3D3D3;
}
.menu-home{
    color: white;
    font-weight: 700;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
#ancora-projetos, #ancora-tecnologias, #ancora-cusros{
    position: absolute;
    width: 1px;
    height: 1px;
    left: 0;
    margin-top: -100px;
    background-color: transparent;
    z-index: -1;
}
.projects-card > .uk-card-body > .uk-card-title{
    font-size: 21px;
}
.vm-card{
    display: none;
}

.btn-vermenos{
    display: none;
}
.card-ini{
    color: #fff;
    font-size: 25px;
}
#uk-totop{
    float: right;
    margin-right: 1.5rem;
}
.vermais-decoration{
    text-decoration: none !important;
    color: gray;
}
.uk-panel{
    color: #000;
    background-color: #fff;
    border-radius: 3px; 
    padding: 10px 10px 10px 15px;
}
.h4{
    font-size: 22px;
    font-weight: 600;
}
.p-panel{
    margin-right: 15px;
    text-indent:2em;
    font-size: 18px;
}
.uk-list > div > div > i{
    font-size: 18px;
}
.footer-sobre{
    position: relative;
    height: 170px;
}
.footer-sobre > .uk-section-secondary{
    bottom: 0px;
    width: 100%;
    height: 170px;
    position: absolute;
}
.dt-dd {
    font-weight: bold;
}

@media (max-width: 640px) {
    .list-skills-column {
        column-count: 2;
    }
}